<?php
/**
 * Config values for git_post_receive.php 
 */

// These define which preg_match() will run what script.
// Use "heads/MYBRANCH" for branches, "tags/MYTAG" for tags.
// This can be a regular expression, and does not need to be escaped.
// The first match will run, and will stop checking for other matches.
//  (i.e. rules 'heads/foo' and 'heads/foobar' will always match 'heads/foo',
//  if 'heads/foo' comes first.)
// The array value (right side of =>) must be an array that can consist of
//  'action' => name of file that will be called (without '.php'). 
//      Defaults to 'gitpull'.
//  'type' => 'branch' or 'tag'. Defaults to 'branch'.
//  'remote' => name of remote repo to fetch from. $repo user must have access.
//      Defaults to 'origin'.
$tracking_rules = array(
    'MYBRANCH' => array()
);

// This is the directory at which the git repository to run is located.
// Include the final /
$repo_location = '';

// This is used for security purposes.
// Apache must be able to sudo as this user.
// This user must have access to the git repository.
// Refer to README for more information
$repo_user = '';  

// Email address to contact everytime there is an error or an action is taken
$admin_email = ''; 

// Set to true to print debugging messages into error_log
$debug = false; 

