<?php
/**
 * Config values for git_post_receive.php 
 */

// These define which preg_match() will run what script.
// Use "heads/MYBRANCH" for branches, "tags/MYTAG" for tags.
// This can be a regular expression, and does not need to be escaped.
// The array value (right side of =>) must point to some script 
//  (i.e. 'gitpull.php' must exist for the example provided.)
// The first match will run, and will stop checking for other matches.
//  (i.e. rules 'heads/foo' and 'heads/foobar' will always match 'heads/foo',
//  if 'heads/foo' comes first.)
$tracking_rules = array(
    'heads/MYBRANCH' => 'gitpull'
);

// This is the directory at which the git repository to run is located.
// Include the final /
$repo_location = '';

// This is used for security purposes.
// Apache must be able to sudo as this user
// Refer to README for more information
$repo_user = '';  

// Email address to contact everytime there is an error or an action is taken
$admin_email = ''; 

// Set to true to print debugging messages into error_log
$debug = false; 

